:root{
    --green-color: #70c45d;
    --font-main: "Poppins", serif;
    --bg-green:#F0F7F1;
}
*{
    font-family: var(--font-main);
}
.myNav{
    z-index: 99;
}
span{
    color: var(--green-color);
}
#home{
    color: var(--green-color);
}
.nav-item{
    a:hover{
        color: var(--green-color) !important;
    }
}
.myBg1{
    background-color: var(--bg-green);
}
#myBtn1{
    background-color: var(--green-color);
}
#myBtn2{
    color: var(--green-color);
}
.myCard1{
    transition: all 200ms ease;
    svg{
        color: var(--green-color);
    }
}
.myCard1:hover{
    background-color: var(--green-color) !important;
    color: var(--bg-green);
    svg{
        color: var(--bg-green);
    }
}
.myBg2{
    ul{
        list-style-image: url(../assets/icon/icCheck.png) !important;
    }
    .myBtn1{
        background-color: var(--green-color);
        svg{
            transition: all 200ms ease-in-out;
        }
    }
    .myBtn1:hover{
        background-color: #8ccd7d;
        svg{
            transform: translateX(5px);
        }
    }
}
.myBg3{
    .myBtn2{
        background-color: var(--bg-green);
        color: var(--green-color);
    }
    .mySvg{
        background-color: var(--green-color);
        width: 75px;
        height: 75px;
        display: grid;
        place-items: center;
    }
    .myCard3{
        transition: all 200ms ease-in-out;
        background-color: white !important;
        border-radius: 10px !important;
        a{
            transition: all 200ms ease-in-out;
        }
    }
    .myCard3:hover{
        background-color: white !important;
        border-radius: 10px !important;
        a{
            color: var(--green-color) !important;
        }
    }

}
.bgLay{
    transition: all 200ms ease-in-out;
    .bgsvg{
        width: 50px !important;
        height: 50px !important;
        background-color: var(--green-color) !important;
        place-items: center;
        svg{
            fill: white !important;
        }
    }
    .bgCard{
        background-color: var(--green-color) !important;
        border-radius: 15px !important;

        .myCard3{
            transition: all 200ms ease-in-out;
        }
    }

}
.bgLay:hover{
    transform: translateY(-5px) !important;
    .bgCard{
        background-color: var(--green-color) !important;
        border-radius: 15px !important;

        .myCard3{
            transform: translateY(-5px) !important;
        }
    }

}
.bg2{
    background-color: var(--bg-green) !important;
    .bgCheck{
        transition: all 200ms ease-in-out;
        width: 35px;
        height: 35px;
        background-color: #dbf4df !important;
        place-items: center;
        svg{
            fill: var(--green-color);
            transition: all 200ms ease-in-out;
        }
    }
    .myCard4{
        height: 65px;
    }
}

.myBtn3{
    background-color: #deefd9;
    color: var(--green-color);
}
.myBtn4{
    background-color: #deefd9;
    color: var(--green-color);
}
.cardPrice{
    height: 525px;
    background-color: white !important;
    transition: all 250ms ease-in-out;
}
.cardPrice:hover{
    transform: scale(1.08);
}
.btnBuy{
    border: 1px solid var(--green-color);
    color: var(--green-color);
}
#card1{
    .li1{
        color:#23c999 ;
    }
    svg{
        fill:#23c999 ;
    }
}
#card2{
    .li1{
        color:#0ccaf0 ;
    }
    svg{
        fill:#0ccaf0 ;
    }
}
#card3{
    .li1{
        color:#fd7e14 ;
    }
    svg{
        fill:#fd7e14 ;
    }
}
#card4{
    .li1{
        color:#0f6efc ;
    }
    svg{
        fill:#0f6efc ;
    }
}
.myBadge{
    height: 30px !important;
    place-items: center;
    transform: rotate(45deg);
    background-color: var(--green-color) !important;
    left: 40%;
    bottom: 91%;
    p{
        font-size: 10px;
    }
}